<ion-header class="header">
  <ion-toolbar>
    <ion-title>Dispositivos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Sección Oficina -->
  <div class="section">
    <h3>Oficina</h3>
    <div class="device-grid">
      <div class="device-card">
        <ion-icon name="phone-portrait-outline"></ion-icon>
        <div class="device-info">
          <p>Puerta Principal</p>
          
        </div>
        <ion-toggle checked></ion-toggle>
      </div>
      <div class="device-card">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <div class="device-info">
          <p>Puerta Bodega</p>
      
        </div>
        <ion-toggle></ion-toggle>
      </div>
    </div>
  </div>

  <!-- Sección Máquinas -->
  <div class="section">
    <h3>Máquinas</h3>
    <div class="device-grid">
      <div class="device-card">
        <ion-icon name="footsteps-outline"></ion-icon>
        <div class="device-info">
          <p>Alarma</p>
         
        </div>
        <ion-toggle></ion-toggle>
      </div>
      <div class="device-card">
        <ion-icon name="bulb-outline"></ion-icon>
        <div class="device-info">
          <p>Luces</p>

        </div>
        <ion-toggle checked></ion-toggle>
      </div>
    </div>
  </div>

  <!-- Sección Bodega -->
  <div class="section">
    <h3>Bodega</h3>
    <div class="device-grid">
      <div class="device-card">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <div class="device-info">
          <p>Cerradura</p>
       
        </div>
        <ion-toggle></ion-toggle>
      </div>
      <div class="device-card">
        <ion-icon name="wifi-outline"></ion-icon>
        <div class="device-info">
          <p>Router</p>
    
        </div>
        <ion-toggle checked></ion-toggle>
      </div>
    </div>
  </div>
</ion-content>