<ion-header>
  <ion-toolbar>
    <ion-title>Actividad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="dark-theme">
  
  <!-- Listado de actividades -->
  <div *ngFor="let activity of activities">
    <h3 class="date-title">{{ activity.date }}</h3>

    <!-- Mostrar mensaje si no hay eventos -->
    <div *ngIf="activity.events.length === 0" class="event-card">
      <ion-icon name="ban-outline"></ion-icon>
      <p>No se grabó ningún evento</p>
    </div>

    <!-- Renderizar eventos si existen -->
    <div *ngIf="activity.events.length > 0">
      <div class="event-card" *ngFor="let event of activity.events">
        <ion-icon name="pulse-outline"></ion-icon>
        <p>{{ event.description }}</p>
      </div>
    </div>
  </div>
</ion-content>

<!-- Pie de página con navegación -->
<ion-footer>

</ion-footer>